* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gilroy";
}

html,
body {
  width: 100%;
  height: 100%;
}

.page1 {
  width: 100%;
  height: 100vh;
  background-color: #efeae3;
  position: relative;
}
.page1 nav {
  width: 100%;
  height: 100px;
  padding: 2vw 0vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 1vw;
}

.nav-right h4 {
  padding: 10px 20px;
  border: 1px solid #0000003c;
  border-radius: 50px;
  font-weight: 500;
  color: #000000bb;
  transition: all ease 0.4s;
  position: relative;
  font-size: 18px;
  overflow: hidden;
}
.nav-right h4::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  left: 0;
  bottom: -100%;
  border-radius: 50%;
  transition: all ease 0.4s;
}

.nav-right h4:hover:after {
  bottom: 0;
  border-radius: 0;
}
.nav-right h4:hover a {
  color: #fff;
}
