* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

.page1 {
  width: 100%;
  height: 100vh;
  background-color: #efeae3;
  position: relative;
}
.page1 nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-right {
  display: flex;
  align-items: center;
}
.nav-right a {
  text-decoration: none;
  padding: 10px;
  color: #212121;
  border: 1px solid red;
  border-radius: 10px;
}
